.cartao__filme{
    align-items: center;
    background: rgba(255, 0, 0, 0.226);
    box-sizing: border-box;
    display: flex;
    height: 250px;
    padding: 1rem;
    margin: 1rem auto;
    width: 500px;
}

.cartao__filme--poster {
    height: 200px;
    width: 125px;
}

.cartao__filme--infos {
    display: flex;
    flex-direction: column;
}

.cartao__filme--titulo {
    justify-self: flex-start;
    margin-bottom: 1rem;
}

.cartao__filme--sinopse {
    text-align: justify;
    margin-left: 1em;
    max-height: 150px;
    overflow-y: auto;
}

.cartao__filme--nota {
    margin-top: 1em;
    text-align: right;
}

.hidden {
    display: none;
}



